body {
    background-image: url("images/wizards_workshop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
    font-size: 1em;
}

h1 {
    font-family: "Book Antiqua", serif;
}

img {
    width: 150px;
    height: auto;
}

td {
    padding: 5px;
}

#container {
    background-color: rgba(214, 204, 169, 0.85);
    width: 820px;
    height: auto;
    margin: auto;
    padding: 7px
}

#item-details {
    font-style: italic;
    
    border: 3px outset grey;
    background-color: darkgoldenrod;
    float: right;
    
    padding: 5px;
    width: 300px;
    height: 180px;
}

#address-table {
    text-align: right;
}

[onmouseenter] {
    color: darkblue;
    cursor: default;
}

.float-left {
   float:left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}
