body {
    width: 100%;
    min-width: 1100px;
    margin: 0;
    color: #2C5808;
    font-family: "Palatino Linotype", Georgia, serif;
}

.center {
    width: 1100px;
    margin: auto;
}

/* HEADER section */

header {
  background-color: #6A9F3D;
  width: 100%;
  height: 230px;
  position: relative;
  font-family: Arial, Gadget, sans serif;
}


header nav ul {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 30px;
    overflow: hidden;
    white-space: nowrap;
} 

header nav li {
    list-style: none;
    display: inline;
    margin-right: 70px;
}

#list {
    opacity: 0;
}


nav li a:link{
    color: white;
    text-decoration: none;
    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

nav li a:visited{
    color: #2C5808;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

nav li a:hover, a:active {
    color: #A5C58A;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}


button.toggle-nav{
  position: absolute;
  top: 215px;
  left: calc(50% - 30px);
  width: 60px;
  height: 35px;
  background-color: #6A9F3D;
  color: #fff;
  border: none;
  line-height: 30px;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}
button.toggle-nav:hover{
    height: 50px;
}
button.toggle-nav span{
    display: block;
    transform: rotate(90deg);
    transition: all 0.25s ease;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
}


#logo {
    display: block;
    margin: 0 45%;
    padding-top: 30px;
    padding-bottom: 15px;
}

/* MAIN section */

main {
    margin-bottom: 20px;
    padding-top: 20px;
}

main a:link {
    color: #6A9F3D;
    text-decoration: none;
}

main a:visited {
    color: #2C5808;
    text-decoration: none;
}

main a:hover, a:active  {
    color: #90C465;
    text-decoration: none;
}

main h1 {
    color: #6A9F3D;
    font-size: 1.75em;
    font-family: Arial, Gadget, sans serif;
}

main h2 {
    color: #2C5808;
    font-size: 1.125em;
    font-family: Arial Black, Gadget, sans serif;
}

main #content {
    height: auto;
}

form {
    text-align: left;
    display: inline-block;
}

/* MAIN section - INDEX */


main section p {
    text-align: left;
    text-indent: 25px;
    margin-left: 35px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 1.5em;
}


#container {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}


main #h1-index{
    margin-top: 20px;
    margin-bottom: 0px;
}

main #img-index {
    margin-top: -40px;
}

main #text-index {
    display: inline-block;
    position: relative;
    width: 600px;
    margin-top: 5px;
}

main #text-index p {
    display: inline;
    margin: 0 auto;
}


/* MAIN section - CONTENT */

main .h-content{
  text-align: center;
  padding-bottom: 0px;
  margin-top: 5px;
}

main .content-img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

main .content-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

main .content-list ul {
    list-style-type: circle;
}

main .content-text {
  width: 600px;
  text-align: left;
  line-height: 1.5em;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}



/* FOOTER section */

footer {
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  bottom: 0;
  position: relative;
}


footer .copyright {
    font-size: 0.75em;
    display: block;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-left: 465px;
}
